@model  MovieBooker.Models.Member
@{
    Layout = null;
    Page.Title = "";
}
<h2>영화 예매 시스템에 오신것을 환영합니다.</h2>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Main</title>
</head>
<body>
    <div style="height: 273px">
        <table>
            @using (Html.BeginForm("Home", "Home"))
            {
                <tr>
                    <td> ID : </td>
                    <td>
                        @Html.TextBoxFor(m => m.ID)
                    </td>
                </tr>
                    <tr>
                        <td> Pass : </td>
                        <td>
                            @Html.PasswordFor(m => m.Pass)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="submit" value="로그인" />
                        </td>
                        <td>
                            <input type="button" value="회원가입" onclick="location.href='@Url.Action("NewMember", "Member")'" />
                        </td>
                    </tr>
            }
        </table>
    </div>

  </body>
</html>

