@{ 
    Layout = "../Shared/MovieBookerLayout.cshtml";
}
<h2>관리자 페이지입니다.</h2>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
</head>
<body>
    <table align="center" cellpadding="10">
        <tr>
            <td>
                <input type="button" class ="button big brown" value="상영 영화 관리" onclick="location.href='@Url.Action("MovieList", "Movie")'" />
            </td>
            <td>
                <input type="button" class ="button big brown" value="상영관 관리" onclick="location.href='@Url.Action("TheaterList", "Theater")'" />
            </td>
        </tr>
        <tr>
            <td>
                <input type="button" class ="button big brown" value= "회원 관리         " onclick="location.href='@Url.Action("MemberList", "Member")'" />
            </td>
            <td>
                <input type="button" class ="button big brown" value="로그 아웃   " onclick="location.href='@Url.Action("Logout", "Home")'" />
            </td>
        </tr>
    </table>
  <br />
    <br />
   
    
    
   

</body>
</html>
