
<h2>loginAdmin</h2>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
</head>
<body style="height: 279px">
    <form id="form1">
        <div style="height: 259px">
            <table style="width: 100%; height: 200px;">
                <td>

                    환영합니다. 관리자님.<br />
                    <br />
                    현재 관리모드 상태입니다.<br />
                    <br />
                    <br />
                    &nbsp;&nbsp;&nbsp;&nbsp;

                    <input type="button" ID="Button_Movie" value="상영 영화 관리"/>
                    <br />
                    <br />
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="button" id= "button_Theater" value="상영관 관리"/>
                    <br />
                    <br />
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="button" id= "button_Member" value="회원 관리"   />

                    <br />
                    <br />
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="button" id= "button_logout" value="로그 아웃"  />

                    <br />

                </td>
            </table>
        </div>
    </form>
</body>
</html>
