
<h2>관리자 페이지입니다.</h2>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
</head>
<body>
    @using (Html.BeginForm("MovieList", "Movie"))
    {
        <input type="submit" value="상영 영화 관리" />
    }
    @using (Html.BeginForm("TheaterList", "Theater"))
    {
        <input type="submit" value="상영관 관리" />
    }
    @using (Html.BeginForm("MemberList", "Member"))
    {
        <input type="submit" value="회원 관리" />
    }
    @using (Html.BeginForm("Logout", "Home"))
    {
        <input type="submit" value="로그 아웃" />
    }

</body>
</html>
