@model MovieBooker.Models.Movie

@{
    ViewBag.Title = "LoginMember";
}

<h2>LoginMember</h2>

<html>
<head>
    <title></title>
    <script language="javascript">
        function SetMoviePoster(number, path)
        {
            alert(number + "  "+ path)
            document.getElementById("image" + number).src = "/Images/"+path;
        }
    </script>
</head>
<body>
    <table border="1">
        <tr>
            <td rowspan="5"><input type="image" id="image1" /></td>
            <td rowspan="5"><input type="image" id="image2" /></td>
            <td rowspan="5"><input type="image" id="image3" /></td>
            <td >
                안녕하세요.
            </td>
        </tr>
        <tr>
            <td><input type="button" value="포인트 충전" onclick="location.href='@Url.Action("RechargePoint", "Point")'" /></td>
        </tr>
        <tr>
            <td><input type="button" value="예매하기" onclick="location.href='@Url.Action("Booking", "Book")'" /></td>
        </tr>
        <tr>
            <td><input type="button" value="예매내역 확인" onclick="location.href='@Url.Action("BookingList", "Book")'" /></td>
        </tr>
        <tr>
            <td><input type="button" value="로그 아웃" onclick="location.href='@Url.Action("Logout", "Home")'" /></td>
        </tr>
    </table>
    @for (int i = 1; i <= ViewBag.ViewMovie.Count; i++)
    {
        if (i == 4)
        {
            break;
        }
        <script type="text/javascript">
            SetMoviePoster(i, movie.Movieposter)
        </script>

    }
        

</body>
</html>

