@model MovieBooker.Models.Point
@{
    ViewBag.Title = "RechargePoint";
    Layout = "../Shared/MovieBookerLayout.cshtml";
}

<html>
<head>
    <title></title>
    <script language="javascript">
        function MakePointListTable()
        {
            var PointList = @Html.Raw(Json.Encode(ViewBag.Points));
            var table = document.getElementById("PointListTable");
           
            var i = 0;
            for(var point in PointList)
            {
                var tr = document.createElement("tr");
                tr.setAttribute("bgColor", "#FFFFCC"); // 배경색
                for(var j = 0; j < 4; j++)
                {
                    var td = document.createElement("td");
                    td.style.textAlign = 'center';
                    switch(j)
                    {
                        case 0:
                            td.innerText = PointList[i].Occuredatetime;
                            break;
                        case 1:
                            td.innerText = PointList[i].Usedvalue;
                            break;
                        case 2:
                            td.innerText = PointList[i].Rechargedvalue;
                            break;
                        case 3:
                            td.innerText = PointList[i].Remainvalue;
                            break;
                    }
                    tr.appendChild(td);
                }
                table.appendChild(tr);
                i++;
            }
        }
    </script>
</head>
<body>
    
    <table id="PointListTable",  align="center" class="stats">
        <tr>
            <td colspan="4" class="h1" >
                현재까지 사용한 내역입니다.
            </td>
        </tr>
        <tr>
            <td class="hed"> 발생 일자 </td>
            <td class="hed"> 사용 금액 </td>
            <td class="hed"> 충전 금액 </td>
            <td class="hed"> 잔여 금액 </td>
        </tr>
    </table>
    <script type="text/javascript">
        MakePointListTable();
    </script>
@using (Html.BeginForm("RechargePoint", "Point"))
{
    <table align="center" >
        <tr>
    <td>@Html.TextBoxFor(m => m.Rechargedvalue)</td>
            <td class="h1" align="center">원    </td>
            <td>
                <input type="submit" value="충전 하기" class="button big gray"/>
            </td>

            <td><input type="button" value="이전페이지" class="button big gray" onclick="location.href='@Url.Action("loginMember", "Home")'" /></td>
        </tr>
    </table>
}
</body>
</html>