@model MovieBooker.Models.Theater
@{
    ViewBag.Title = "SelectTheater";
}

<h2>상영관 선택</h2>
<html>
<head>
    <title>상영관 선택</title>
</head>
<body>
   @using (Html.BeginForm("NewMovie", "movie"))
   {
    @Html.TextBoxFor(m => m.TheaterID)
    <input type="submit" value="확인" />
   }
</body>
</html>
